{% extends "navigation.html" %}
{% load gauntlet_tags %}

{% block container %}
  <h1>{{ contest.game }}</h1>
  <h3>
      <a href="{% url 'crucibal.views.season' season_id=contest.week.season.id%}">
        {{ contest.week.season }}
      </a>
      Week {{ contest.week.week }}
  {% if contest.week.kickoff %}
  <small>{{contest.week.kickoff}}</small>
  {% endif %}
  </h3>
  <div class="row">
    <div class="col-md-4">
      <div class="list-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Participants</h2>
          </div>
          {% for particpant in contest.participants.all %}
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading">{{ particpant }}
              <small>Age: {{ particpant.age }}</small>
              </h4>
              <p class="list-group-item-text">{{ particpant.rank }}</p>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Results</h2>
          </div>
          {% for result in results %}
            <a href="#" class="list-group-item">
              <span class="badge">{{result.points}}</span>
              <h4 class="list-group-item-heading">{{ result.entrant }}</h4>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Randomize Players
  </button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Random Players</h4>
        </div>
        <div class="modal-body">
          <ul class="list-group">
             {% for p in contest.participants|shuffle_participants %}
             <li class="list-group-item">{{ p }}</li>
             {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
