{% extends "navigation.html" %}
{% block container %}
  <h1>Challenge <small>{{ challenge }}</small></h1>
  {% if challenge.week.kickoff %}
  <h3>{{challenge.week.kickoff}}</h3>
  {% endif %}
  <div class="row">
    <div class="col-md-4">
      <div class="list-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Participants</h2>
          </div>
          {% for particpant in challenge.participants.all %}
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading">{{ particpant }}
              <small>(Age: {{ particpant.age }})</small>
              </h4>
              <p class="list-group-item-text">{{ particpant.rank }}</p>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Results</h2>
          </div>
          {% for result in results %}
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading">{{ result.entrant }}</h4>
              <p class="list-group-item-text">{{ result.points }}</p>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
