{% extends "navigation.html" %}

{% block container %}
  <h1>Video Game Gauntlet</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Challenges</h3>
          </div>
          <div class="list-group">
          {% for challenge in challenges %}
            <a href="{% url 'gauntlet.views.challenge' challenge=challenge.id %}"
               class="list-group-item {% if challenge.week.has_passed %}list-group-item-warning{% endif %}">
              <h4 class="list-group-item-heading">{{ challenge.game.name }} -
              <small>{{ challenge.game.level }}</small>
              </h4>
              <p class="list-group-item-text">{{ challenge.week }}</p>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Standings</h3>
          </div>
          <ul class="list-group">
          {% for player, points in standings %}
            <li class="list-group-item">
              <span class="badge">{{points}}</span>
              {{ player }}
            </li>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
