{% extends "base.html" %}
{% block body %}
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'main_index' %}">
          WFL
        </a>
        <a class="navbar-brand" href="{% url "gauntlet.views.index" %}">
          <i class="fa fa-gamepad fa-inverse"></i> Gauntlet
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
      {% if user.username %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Signed in as {{ user.username }}
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></li>
              </ul>
          </li>
        </ul>
      {% else %}
          <li><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
      {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container">
    {% block container %}
    {% endblock %}
  </div>
{% endblock %}
