{% extends "base.html" %}
{% load bootstrap3 %}

{% block body %}
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'main_index' %}">
          WFL
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'gauntlet.views.index' %}">
            <i class="fa fa-gamepad fa-inverse"></i> Gauntlet</a>
          </li>
          <li><a href="{% url 'season.views.list' %}">
              <i class="fa fa-calendar fa-inverse"></i> Seasons</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        {% if user.username %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                 role="button" aria-haspopup="true" aria-expanded="false">
                  Signed in as {{ user.username }}
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% if user.is_staff %}
                    <li><a href="{% url 'season.views.players' %}">
                        <i class="fa fa-users"></i> Players</a>
                    </li>
                    <li><a href="{% url 'admin:index' %}">
                        <i class="fa fa-wrench"></i> Admin</a>
                    </li>
                  {% endif %}
                  <li><a href="{% url 'django.contrib.auth.views.logout' %}">
                      <i class="fa fa-sign-out"></i> Logout</a>
                  </li>
                </ul>
            </li>
          </ul>
        {% else %}
            <li><a href="{% url 'django.contrib.auth.views.login' %}">
                  <i class="fa fa-sign-in"></i> Login</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    {% bootstrap_messages %}
    {% block container %}
    {% endblock %}
  </div>
{% endblock %}
