{% extends "base.html" %}

{% block body %}
<!--
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'main_index' %}">WFL</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>
    </div>
</nav>
-->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'main_index' %}">
        WFL
      </a>
      <a class="navbar-brand" href="{% url "gauntlet.views.index" %}">
        <i class="fa fa-gamepad fa-inverse"></i> Gauntlet
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <h1>Video Game Gauntlet</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Challenges</h3>
          </div>
          <div class="list-group">
          {% for challenge in challenges %}
            <a href="{% url 'gauntlet.views.challenge' challenge=challenge.id %}" class="list-group-item">
              <h4 class="list-group-item-heading">{{ challenge.game.name }} -
              <small>{{ challenge.game.level }}</small>
              </h4>
              <p class="list-group-item-text">{{ challenge.week }}</p>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Standings</h3>
          </div>
          <ul class="list-group">
          {% for player, points in standings %}
            <li class="list-group-item">
              <span class="badge">{{points}}</span>
              {{ player }}
            </li>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
