{% extends "navigation.html" %}
{% load bootstrap3 %}
{% load widget_tweaks %}

{% block container %}
<div class="row">
  <div class="col-md-4">
    <h2>Register a new Player for the WFL</h2>
    <p>Username will be your game alias.  Kids without email addresses should
       get their parrents permission for their email address.  We will send
       updates about the upcoming weeks events.
    </p>
  </div>
  <div class="col-md-6">
    <form class="form-horizontal" name="searchform" action="." method="post" id="searchform">
      {% csrf_token %}
      {% bootstrap_form user_form show_help=False %}
      {% bootstrap_form player_form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% bootstrap_icon "user" %} Register User
        </button>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
