{% extends "navigation.html" %}
{% load bootstrap3 %}
{% load widget_tweaks %}

{% block container %}
<h2>Seasons</h2>
<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      {% for season in seasons %}
        <a href="{% url 'season.views.season' season_id=season.id %}" class="list-group-item">{{season}}
          <small class="pull-right">{{season.week_set.all|length}} Weeks</small></a>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Rules</h3>
      </div>
      <ul class="list-group">
          {% for rule in rules %}
            <li class="list-group-item">{{ rule }}</li>
          {% endfor %}
      </ul>
    </div>
  {% if user.is_staff %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Players</h3>
      </div>
      <div class="panel-body">
      <form name="seasonform" action="." method="post" id="seasonform">
          {% csrf_token %}
          {% bootstrap_form season_form %}
          {% buttons %}
            <button type="submit" class="btn btn-primary">
              {% bootstrap_icon "user" %} Create Season
            </button>
          {% endbuttons %}
        </form>
      </div>
    </div>
  {% endif %}
  </div>
</div>
{% endblock %}
